block navi
    ul.main-menu
        li
            a(href="/") 홈
        li
            form(action="/gjbus/searchStation")
                input(name="station",placeholder="정류장 정보를 입력한 후 Enter")
        li
            a(href="/gjbus/viewStation") VIEW STATION
        li
            a(href="#") 로그인
        li
            a(href="#") 회원가입
        li
            a(href="/gjbus/getStation") GET STATION

