block navi
    ul.main-menu
        li
            a(href="#") 홈
        li
            input(placeholder="정류장 정보를 입력한 후 Enter")
        li
            a(href="#") 정류장정보 가져오기
        li
            a(href="#") 로그인
        li
            a(href="#") 회원가입
