@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    #map_div {
        margin:20px !important;
    }

    ul.main-menu {
        width : 90%
    }

    ul.main-menu input {
        width:220px;
    }

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
        padding: 1rem !important;
        padding-left:50% !important;
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 16px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "이름"; }
	td:nth-of-type(2):before { content: "주소"; }
	td:nth-of-type(3):before { content: "위도"; }
	td:nth-of-type(4):before { content: "경도"; }
	td:nth-of-type(5):before { content: "재고상태"; }
}