/*
    toolTip을 적용할 tag에
    data-tooltip-text="표시할문자열"을 넣어 줄것
*/

[data-tooltip-text]:hover {
    position: relative;
  }
  [data-tooltip-text]:hover:after {
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
    border-radius: 5px;

    color: #FFFFFF;
    font-size: 12px;
    content: attr(data-tooltip-text);

    margin-bottom: 10px;
    top: 130%;
    left: 0;    
    padding: 7px 12px;
    position: absolute;
    width: auto;
    min-width: 50px;
    max-width: 300px;
    word-wrap: break-word;

    z-index: 9999;
  }