doctype html
html
  head

    title 공공마스크 구입안내 서비스 

    meta(charset="UTF-8")
    meta(name="description", content="mask info service")
    meta(name="keywords", content="mask,MASK,Mask")
    meta(name="author", content="callor@callor.com")
    meta(name='viewport',content='width=device-width, initial-scale=1')  
    meta(name='viewport',content='width=device-width, initial-scale=1')
    link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
    script(src="https://code.jquery.com/jquery-latest.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js")
    link(rel="stylesheet",href="https://www.w3schools.com/w3css/4/w3.css")

    link(rel='stylesheet', href='/stylesheets/nav.css')
    script(src="/javascripts/nav_scroll.js")

  body
    block navi
      include nav
    block content
