block navi
    ul.main-menu
        li
            a(href="/") MASK LOVE
        li
            form(action="/mask/search")
                input#address(name="address",placeholder="광주광역시 북구 중흥동 처럼 입력하고 Enter...")

